---
import NavMenu from "../components/NavMenu.astro";
import Footer from "../components/Footer.astro";
import PageTitle from "../components/PageTitle.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/rosenhoj_favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/xcg1awn.css" />
    <link rel="stylesheet" href="../../public/styles/global.css" />
    <title>Rosenhøj Bed & Breakfast</title>
  </head>
  <body>
    <header>
      <NavMenu iconColor="var(--custom_black)" />
    </header>

    <main>
      <PageTitle>ABOUT US</PageTitle>
      <div>
        <p>
          Rosenhøj is owned and operated by Trine and Patrick Johnson. Trine is
          from Denmark, a qualified chef with many years of experience in London
          restaurants. Patrick was a London Bobby for 32 years. Now retired from
          Police work and with a passion for food and hosting.
        </p>
        <img src="/public/images/ejer.png" alt="rosenhoejs ejer" />
        <p>
          We will look after you like family! We have contacts all over Fyn and
          Svendborg. We can assist you with hundreds of different activities.
          Kayaking , fishing , boating, sightseeing , nature, picnics – so much
          to see and do and we will help you organise whatever you want to do –
          its your precious holiday, we will help you make it great.
        </p>
      </div>
      <h2>OUR ETHOS</h2>
      <p>
        Stay at Rosenhøj and feel the atmosphere . We are passionate about
        quality, healthy , local and sustainable chef cooked food. We care about
        animals and our philosophy is – eat less meat and if you do – make it
        the best local quality meat , with the best welfare standards.
      </p>
      <img src="/public/images/kager.png" alt="kager" />
      <img src="/public/images/pizza.png" alt="pizza" />
      <img src="/public/images/fisk.png" alt="pizza" />
      <h2>STAY WITH CHEF</h2>
      <p>
        Trine is a qualified chef with many years of experience in London
        restaurants. Patrick was a London Bobby for 32 years. Now retired from
        Police work and with a passion for food and hosting. We will look after
        you like family! Rosenhøj is all about local, seasonal and healthy food
        (but with the occasional treat) We try our best to be sustainable, of
        course recycling all we can as well a considering ‘food airmiles’ when
        creating menus.
      </p>
      <img src="/public/images/chef.png" alt="cheffer af rosenhoej" />
    </main>

    <Footer />
  </body>
</html>

<style></style>

<script></script>
