---
import Hero from "../components/Hero.astro";
import NavMenu from "../components/NavMenu.astro";
import HouseSection from "../components/HouseSection.astro";
import ReviewsSection from "../components/ReviewsSection.astro";
import ForsideBilledeMenu from "../components/ForsideBilledeMenu.astro";
import KontaktSection from "../components/KontaktSection.astro";
import FollowUsSection from "../components/FollowUsSection.astro";
import Footer from "../components/Footer.astro";
import GalleriForside from "../components/GalleriForside.astro";
import Map from "../components/Map.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Rosenhøj B&B is a boutique Bed and Breakfast in Svendborg. We have a luxurious suite and a glamping tent. Our chef creates magic food for you." />
    <link rel="icon" type="image/svg+xml" href="/rosenhoj_favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet preload"href="https://use.typekit.net/xcg1awn.css" />
    <link rel="stylesheet" href="../../public/styles/global.css" />
    <title>Rosenhøj Bed & Breakfast</title>
  </head>
  <body>
    <header>
      <NavMenu iconColor="var(--custom_white)" />
      <Hero backgroundImage="url(../images/bed.webp)" />
    </header>
    <main>
      <HouseSection />

      <ReviewsSection reviewSource={"google_reviews"} />
      <ForsideBilledeMenu />
      <KontaktSection />
      <FollowUsSection />
      <GalleriForside />
      <Map />
    </main>
    <Footer />
    <script></script>
  </body>
</html>
