---
import PageTitle from "../components/PageTitle.astro";
import Logo from "../components/Logo.astro";
import Hero from "../components/Hero.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/rosenhoj_favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/xcg1awn.css" />
    <link rel="stylesheet" href="../../public/styles/global.css" />
    <title>Rosenhøj Bed & Breakfast</title>
  </head>
  <body>
    <PageTitle>Rosenhøj Bed & Breakfast</PageTitle>
    <Hero backgroundImage="url(../public/images/bed.jpg)"/>
  </body>
</html>
