---
import NavMenu from "../components/NavMenu.astro";
import Footer from "../components/Footer.astro";
import Line from "../components/Line.astro";
import PageTitle from "../components/PageTitle.astro";
import Button from "../components/Button.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/rosenhoj_favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/xcg1awn.css" />
    <link rel="stylesheet" href="../../public/styles/global.css" />
    <title>Rosenhøj Bed & Breakfast</title>
  </head>
  <body>
    <header>
      <NavMenu iconColor="var(--custom_black)" />
      <PageTitle>Værelser</PageTitle>
    </header>

    <main>
      <article>
        <div>
          <h3>Rosenhøj En-Suite haveudsigt</h3>
          <p>op til 4 personer</p>
          <span>1500.- DKK</span>
        </div>
        <video src="video/room_video.webm" autoplay="true" loop="true" muted="true"></video>
        <Button link="sv_rooms.html" text="SE VÆRELSE" />
        <Line lineWidth="100%" lineColor="var(--custom_black)"/>
      </article>

      <article>
        <div>
          <h3>Rosenhøj Glamping</h3>
          <p> op til 2 personer</p>
          <span>950.- DKK</span>
        </div>
        <img src="public/images/rosenhøj-15.webp" alt="glamping" />
        <Button link="sv_rooms.html" text="SE VÆRELSE" />
        <Line lineWidth="100%" lineColor="var(--custom_black)"/>
      </article>

      <article class="coming_soon">
        <div>
          <h3>Rosenhøj En-Suite havudsigt med egen terrasse</h3>
          <p>op til 4 personer</p>
          <span>1500.- DKK</span>
        </div>
        <img src="public/images/bed.webp" alt="bed" />
        <Button link="sv_rooms.html" text="SE VÆRELSE" />
        <Line lineWidth="100%" lineColor="var(--custom_black)"/>
      </article>
    </main>
  </body>
  <Footer />
</html>

<style>
  article {
    display: grid;
    place-items: center;
    gap: 1rem;
    padding-block: 1rem;
  }
  video {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    filter: contrast(90%) saturate(80%);
  }
  div {
    display: grid;
    place-items: center;
    gap: 1rem;
  }
  img,
  video {
    max-width: 100%;
  }
  p {
    color: var(--light_blue);
  }
  h3{
    text-align:center;
  }
  span {
    font-size: 1.5rem;
    padding-top: 1rem;
  }
  .coming_soon img {
    filter: brightness(60%) blur(4px);
    pointer-events: none;
    z-index: -1;
  }
  .coming_soon {
    pointer-events: none;
  }
  .coming_soon div {
    position: relative;
    top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
  }
  .coming_soon::after {
    content: "KOMMER SNART";
    filter: unset;
    position: absolute;
    color: var(--custom_white);
    font-size: clamp(1rem, 10vw, 4rem);
    font-weight: 600;
    translate: 0 -70px;
  }
  .coming_soon::before {
    content: "ÅBNER JUNI 2023";
    filter: unset;
    position: absolute;
    z-index: 100;
    color: var(--custom_white);
    font-size: clamp(1rem, 5vw, 2rem);
    font-weight: 400;
  }
  @media (min-width: 800px) {
    div {
      grid-template-columns: auto auto 1fr;
      width: 100%;
      padding-inline: 1rem;
      place-items: unset;
      align-items: center;
    }
    span {
      margin-left: auto;
      margin-right: 2rem;
    }
    img {
      max-height: 600px;
      width: 100%;
      object-fit: cover;
    }
    h3 {
      font-size: clamp(1rem, 5vw, 1.5rem);
    }
  }
</style>

<script></script>
