---
import NavMenu from "../components/NavMenu.astro";
import Footer from "../components/Footer.astro";
import Line from "../components/Line.astro";
import PageTitle from "../components/PageTitle.astro";
import Button from "../components/Button.astro";

---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/rosenhoj_favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/xcg1awn.css" />
    <link rel="stylesheet" href="../../public/styles/global.css" />
    <title>Rosenhøj Bed & Breakfast</title>
  </head>
  <body>
    <header>
      <NavMenu iconColor = "var(--custom_black)"/>
    </header>

    <main>
      <PageTitle>Rooms</PageTitle>
      <Line></Line>
      <section class="tekstboks1">
        <h3>
          Rosenhøj En - Suite Gardenview
        </h3>

        <p>
          Sleeps up to 4
        </p>

        <h3>
          1500.- DKK
        </h3>

      </section>

      <img src="public/images/bed.jpg" alt="bed">

      <Line></Line>

      <Button>
        See Room
      </Button>

      <Line></Line>

      <section class="tekstboks2">
        <h3>
          Rosenhøj Glamping
        </h3>

        <p>
          Sleeps up to 4
        </p>

        <h3>
          950.- DKK
        </h3>

      </section>

      <img src="public/images/rosenhøj-15.jpg" alt="glamping">

      <Line></Line>

      <Button>See Room</Button>

      <Line></Line>

      <section class="tekstboks3">
        <h3>
          Rosenhøj En - Suite Sea view with own terrace
        </h3>

        <p>
          Sleeps up to 4
        </p>

        <h3>
          1500.- DKK
        </h3>

      </section>

      <img src="public/images/bed.jpg" alt="bed">

      <Line></Line>

      <Button>See Room</Button>

      <Line></Line>

      <section class="billedetekst">
        <h3>
          Coming Soon
        </h3>
        <p>
          Available from June 2023
        </p>
      </section>

    </main>
    <Footer/>
  </body>
</html>

<style>

main {
      padding-top: 100px;
      display: grid;
      gap: 1rem;
    }
  h3 {
    text-align: center;
    margin: auto;
    margin-top: 1rem;
  }

  p {
    text-align: center;
    margin: auto;
    margin-top: 1rem;
  }

  section {
    display: grid;
      gap: 1rem;
  }

  img {
    width: 100%;
      height: auto;
      object-fit: cover;
      padding-inline: 5px;
      max-height: 400px;
      margin-top: 1rem;
      margin-bottom: 1rem;
  }

  @media (min-width: 1150px) {
    .tekstboks1 {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .tekstboks2 {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .tekstboks3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

</style>

<script>
    
</script>