---
import NavMenu from "../components/NavMenu.astro";
import Footer from "../components/Footer.astro";
import Line from "../components/Line.astro";
import PageTitle from "../components/PageTitle.astro";
import Button from "../components/Button.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/rosenhoj_favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/xcg1awn.css" />
    <link rel="stylesheet" href="../../public/styles/global.css" />
    <title>Rosenhøj Bed & Breakfast</title>
  </head>
  <body>
    <header>
      <NavMenu iconColor="var(--custom_black)" />
      <PageTitle>Rooms</PageTitle>
    </header>

    <main>
      <article>
        <div>
          <h3>Rosenhøj En - Suite Gardenview</h3>
          <p>Sleeps up to 4</p>
          <span>1500.- DKK</span>
        </div>
<center>
          <iframe
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/rnh6QUQalvU?version=3&loop=1&playlist=rnh6QUQalvU&autoplay=1&mute=1&controls=0&showinfo=0" frameborder="0";
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share;"
            allowfullscreen></iframe>
</center>
<!--         <img src="public/images/bed.jpg" alt="bed" /> -->
        <Button link="sv_rooms.html" text="See Room" />
        <Line lineWidth="100%" />
      </article>

      <article>
        <div>
          <h3>Rosenhøj Glamping</h3>
          <p>Sleeps up to 4</p>
          <span>950.- DKK</span>
        </div>
        <img src="public/images/rosenhøj-15.jpg" alt="glamping" />
        <Button link="sv_rooms.html" text="See Room" />
        <Line lineWidth="100%" />
      </article>

      <article class="coming_soon">
        <div>
          <h3>Rosenhøj En - Suite Sea view with own terrace</h3>
          <p>Sleeps up to 4</p>
          <span>1500.- DKK</span>
        </div>
        <img src="public/images/bed.jpg" alt="bed" />
        <Button link="sv_rooms.html" text="See Room" />
        <Line lineWidth="100%" />
      </article>
    </main>
  </body>
  <Footer />
</html>

<style>
  article {
    display: grid;
    place-items: center;
    gap: 1rem;
    padding-block: 1rem;
  }
  iframe{
      width: 100%;
      max-width: 900px;
     aspect-ratio: 16/9;
    }
    center{
width: 100%;
display: grid;
place-items: center;
    }
  div {
    display: grid;
    place-items: center;
    gap: 1rem;
  }
  img {
    max-width: 100%;
  }
  p {
    color: var(--light_blue);
  }
  span {
    font-size: 1.5rem;
    padding-top: 1rem;
  }
  .coming_soon img {
    filter: brightness(60%) blur(4px);
    pointer-events: none;
  }
  .coming_soon {
    pointer-events: none;
  }
  .coming_soon::after {
    content: "COMING SOON";
    filter: unset;
    position: absolute;
    color: var(--custom_white);
    font-size: clamp(1rem, 10vw, 4rem);
    font-weight: 600;
    translate: 0 -70px;
  }
  .coming_soon::before {
    content: "AVAILABLE FROM JUNE 2023";
    filter: unset;
    position: absolute;
    z-index: 100;
    color: var(--custom_white);
    font-size: clamp(1rem, 5vw, 2rem);
    font-weight: 400;
  }
  @media (min-width: 800px) {
    div {
      grid-template-columns: auto auto 1fr;
      width: 100%;
      padding-inline: 1rem;
      place-items: unset;
      align-items: center;
    }
    span {
      margin-left: auto;
      margin-right: 2rem;
    }
    img {
      max-height: 600px;
      width: 100%;
      object-fit: cover;
    }
    h3 {
      font-size: clamp(1rem, 5vw, 1.5rem);
    }
  }
</style>

<script></script>
