---
const {link, text} = Astro.props;
---
<div>
    <a href={link}>{text}</a>
</div>


<style>
  a {
    border: 5px double black;
    color: black;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    font-size: clamp(1rem, 7vw, 1.75rem);
    padding: 0.5em;
  }

  div {
    display: grid;
    place-items: center;
    padding-block: 2em;
  }
</style>