---
---

<main>
    <section id="top">
      <h2>Events</h2>
      <h3>Consider hosting an event at Rosenhøj for an unforgettable experience.</h3>
    </section>
    <div id="grid1-1">
      <p>text</p>
      <img src="" alt="" />
    </div>
  </main>
  
  <style>
    #top {
      text-align: center;
      padding-top: 10%;
    }
  
    #top h3 {
      margin-top: 4%;
    }
  </style>
  
  