---
---

<main>
  <section id="top">
    <h2>Events</h2>
    <h3>Consider hosting an event at Rosenhøj for an unforgettable experience.</h3>
  </section>
  <div id="grid1-1">
    <section id="textEvents">
      <p>With vintage-inspired surroundings and the ability to cater to up to 40 guests, we offer an ideal setting for any occasion – whether it’s a confirmation, birthday party, or company event.</p>
      <p>Our expert chef will craft delicious menus to meet your specific preferences and dietary requirements. Whether you desire a formal dinner or a casual buffet, we can cater to your needs with high-quality cuisine and exceptional service.</p>
    </section>
    <img src="https://picsum.photos/557/518?random=1" />
  </div>
</main>

<style>
  #top {
    text-align: center;
    padding-top: 8%;
    color: #354c82;
  }

  #top h3 {
    margin-top: 2%;
    font-family: raleway, sans-serif;
    font-weight: lighter;
    font-size: 30px;
  }

  #grid1-1 {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #textEvents p {
    font-family: raleway, sans-serif;
    font-size: 17px;
    font-weight: lighter;
    line-height: 200%;
    max-width: 70%;
    margin: auto;
    margin-top: 4%;
  }

  #grid1-1 img {
    display: block;
    margin-left: auto;
  }
</style>
