---
import SoMeIcons from "./SoMeIcons.astro"
---
<section>
    <h2>Follow us</h2>
<SoMeIcons/>
<article>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1524.9439171858346!2d10.623039500759317!3d55.063638759582126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464d338fa1210097%3A0x9d7c77dd115cc26c!2sRosenh%C3%B8j%20Bed%20and%20Breakfast!5e0!3m2!1sda!2sdk!4v1684671372586!5m2!1sda!2sdk" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</article>
</section>

<style>
       section {
    display: grid;
    place-items: center;
    gap: 2rem;
    padding-block: 1.5rem;
  }
  h2{
    font-size: clamp(4vw, 8vw, 3rem);
  }
  article{
    margin: 0.75rem;
    outline: 1px solid var(--custom_black);
  }
</style>