---
import Logo from "./Logo.astro";
---

<footer>
  <Logo logoColor="white" frameColor="white" />
  <address>
    <ul>
      <li><span>Øksenbjergvej 1, 5700 Svendborg</span></li>
      <li>+45 27 64 22 27</li>
      <li>CVR: 40700498</li>
      <li>Mail: rosenhojbnb@gmail.com</li>
    </ul>
  </address>
  <div>
    <nav>
      <a href="about_us.html">OM OS</a>
      <a href="rooms.html">VÆRELSER</a>
      <a href="events.html">BEGIVENHEDER</a>
      <a href="food.html">MENU</a>
      <a href="https://www.findsmiley.dk/1244763">CONTROL RAPPORT</a>
    </nav>
  </div>
  <a href="https://www.booking.com/hotel/dk/rosenhoj-bed-and-breakfast.da.html?" class="footer_button">Book now</a>
</footer>

<style>
  Footer {
    background-color: var(--light_blue);
    display: grid;
    place-items: center;
    gap: 2rem;
    padding: 1rem;
    padding-block: 2rem;
    color: var(--custom_white);
    margin-top: 5rem;
  }
  ul {
    place-items: center;
    gap: 0.5rem;
    font-style: normal;
  }
  li {
    list-style: none;
  }
  footer ul,
  footer nav {
    line-height: 2rem;
    padding: 1rem;
    display: grid;
  }
  div {
    width: 100%;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
  }
  div::after,
  div::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--custom_white);
  }
  a {
    color: white;
    text-decoration: none;
  }
  nav > a::before {
    content: "•";
    margin-right: 0.75rem;
  }
  .footer_button {
    outline: 1px solid var(--custom_white);
    padding: 0.75rem;
    font-size: 1.2rem;
  }
  @media (min-width: 1150px) {
    footer {
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-around;
      padding-inline: 6vw;
      gap: 1rem;
    }
    /*     div,
    address {
      border-left: 2px solid var(--custom_white);
    } */
    div::after,
    div::before {
      display: none;
    }
    .footer_button {
      display: none;
    }
  }
</style>
