---
---

<div><a href="rooms.html"><span>Rooms</span></a></div>
<div><a href="food.html"><span>Menu</span></a></div>
<div><a href="events.html"><span>Events</span></a></div>

<style>
  div {
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1;
  }
  div:nth-of-type(1) {
    background: linear-gradient(rgba(29, 36, 62, 0.3), rgba(29, 36, 62, 0.3)), url(../images/bed.jpg) center/cover;
  }
  div:nth-of-type(2) {
    background: linear-gradient(rgba(29, 36, 62, 0.3), rgba(29, 36, 62, 0.3)), url(../images/food.jpg) center/cover;
  }
  div:nth-of-type(3) {
    background: linear-gradient(rgba(29, 36, 62, 0.3), rgba(29, 36, 62, 0.3)), url(../images/event.jpg) center/cover;
  }
  span {
    font-family: raleway, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--dark_blue);
    text-transform: uppercase;
    font-size: clamp(1rem, 1.5rem);
    width: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
    padding: 0.75rem;
  }
  a{
text-decoration: none;
width: 100%;
height: 100%;
display: grid;
place-items: center;
backdrop-filter: blur(0px);
transition: all 0.2s ;
  }
  a:hover{
    backdrop-filter: blur(5px);
  }

</style>
