---
import Logo from "./Logo.astro";

const { backgroundImage } = Astro.props;
---

<section>
  <Logo logoColor="white" frameColor="white" />
</section>

<style define:vars={{ backgroundImage }}>
  section {
    background: linear-gradient(rgba(29, 36, 62, 0.5), rgba(29, 36, 62, 0.5)),var(--backgroundImage) center/cover;
    backdrop-filter: opacity(50%);
    display: grid;
    place-items: center;
    height: clamp(250px, 70vh, 100vh);
  }
</style>
