---
import Logo from "./Logo.astro";

const { backgroundImage } = Astro.props;
---

<section>
  <Logo logoColor="white" frameColor="white" />'
  <h2>Boutique bed and breakfast</h2>
</section>

<style define:vars={{ backgroundImage }}>

  section {
    background: linear-gradient(rgba(29, 36, 62, 0.5), rgba(29, 36, 62, 0.5)),var(--backgroundImage) center/cover;
    display: grid;
    place-items: center;
    height: 100vh;
  }
  h2{
    color: var(--custom_white);
  }
  h2::after {
    background-color: var(--custom_white);
  }
</style>
