---
import Logo from "./Logo.astro";
---

<section id="om_huset">
  <img src="../images/Danas_illustration.png" alt="" />
  <Logo logoColor="white" frameColor="none" />
  <p>
    Rosenhøj is a 120+ year old villa that has been updated and modernized while preserving its beautiful aesthetics. Located in the charming town of Svendborg in the beautiful South of Denmark, our
    bed and breakfast offers two main suites with unique layouts, designs, and furnishings, providing breathtaking views over the town and sea. During the summer season, we also offer a cozy and warm
    glamping tent with a private fireplace.
  </p>
</section>

<style>
  section {
    background-color: var(--light_blue);
    display: grid;
    place-items: center;
    gap: 2rem;
    padding: 1rem;
    padding-block: 2rem;
  }
  img {
    width: 100%;
    max-width: 500px;
    filter: invert(100%);
  }
  p {
    color: var(--custom_white);
    font-family: raleway, sans-serif;
    font-weight: 400;
    line-height: 2rem;
    padding-inline: 1rem;
    display: grid;
    place-items: center;
    gap: 1rem;
    max-width: 45ch;
  }
  p::after,
  p::before {
    content: "";
    width: 110%;
    height: 2px;
    background-color: var(--custom_white);
  }
  @media (min-width: 1150px){
section{
  grid-template-columns: 5fr 4fr;
}
p{
  grid-column: 2/3;

}
img{
  grid-row: 1/3;
  max-width: 700px;
}
  }
</style>
