---
---

<body>
  <div id="slider-container" class="slider">
    <div class="slide">
      <img src="../images/menu/image1.jpeg" alt="" />
    </div>
    <div class="slide">
      <img src="../images/menu/image2.jpeg" alt="" />
    </div>
    <div class="slide">
      <img src="../images/menu/image3.jpeg" alt="" />
    </div>
    <div class="slide">
      <img src="../images/menu/image4.jpeg" alt="" />
    </div>
    <div class="slide">
      <img src="../images/menu/image5.jpeg" alt="" />
    </div>
    <div class="slide">
      <img src="../images/menu/image6.jpeg" alt="" />
    </div>
    <div class="slide">
      <img src="../images/menu/image7.jpeg" alt="" />
    </div>
  </div>

  <div class="overlay"></div>

  <style>
    body {
      width: 100%;
      margin: 0;
      padding-inline: 1em;
      font-family: open sans;
    }
    .slider {
      display: flex;
      height: 350px;
      max-height: auto;
      overflow-y: hidden;
      overflow-x: scroll !important;
      padding: 16px;
      transform: scroll(calc(var(--i, 0) / var(--n) * -100%));
      scroll-behavior: smooth;
    }

    .slider::-webkit-scrollbar {
      height: 5px;
      width: 150px;
      display: none;
    }
    .slide img {
      height: 100%;
      width: 250px;
      margin: 0 10px;
      object-fit: cover;
    }
  </style>
</body>
