---
const { imageSource, imageWidth } = Astro.props;
---

<div>
  <img src={imageSource} alt="" loading="lazy"/>
</div>

<style define:vars={{ imageWidth }}>
  img {
    height: 100%;
    width: var(--imageWidth);
    object-fit: cover;
  }
</style>
