---
const {imageHeight, scrollerWidth} = Astro.props;
---

<section>
  <div id="LeftArrow">
    <svg width="10" height="26" viewBox="0 0 10 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9 25L1 13.2293L9 1" stroke="black"></path>
    </svg>
  </div>
  <div id="slider-container" class="slider">
<slot/>
  </div>
  <div id="RightArrow">
    <svg width="10" height="26" viewBox="0 0 10 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 25L9 13.2293L1 1" stroke="black"></path>
    </svg>
  </div>
</section>

<style define:vars={{imageHeight, scrollerWidth}}>
  section {
    width:100%;
    max-width:100vw;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin:auto;
    margin-top: 3rem;
    position: relative;
  }
  #slider-container {
    display: flex;
    width:100%;
    gap: 1rem;
    position: relative;
    height: var(--imageHeight);
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-align: center;
  }
  #RightArrow, #LeftArrow{
    position:absolute;
    z-index:100;
    display:grid;
    place-items:center;
    background-color: #354c8299;
    backdrop-filter: blur(3px);
    height:40px;
    aspect-ratio:1;
    border-radius:50%;
  }
  #LeftArrow{
    left: 1rem;
  }
  #RightArrow{
    right: 1rem;
  }
  path{
    stroke:white;
    stroke-width: 2px;
  }
  @media(min-width:1000px){
    section{
      max-width:var(--scrollerWidth);
    }
  }
</style>

<script>
  const imageSlider = document.getElementById("slider-container");
  const RightArrow = document.getElementById("RightArrow");
  const LeftArrow = document.getElementById("LeftArrow");
  let currentImage = 0;
  RightArrow.addEventListener("mousedown", nextImage);
  function nextImage() {
    if (currentImage == imageSlider.children.length) {
    } else {
      currentImage++;
    }
    console.log(currentImage);
    imageScroll(currentImage);
  }
  LeftArrow.addEventListener("mousedown", prevImage);
  function prevImage() {
    if (currentImage == 0) {
    } else {
      currentImage += -1;
    }
    console.log(currentImage);
    imageScroll(currentImage);
  }
  console.log(imageSlider.children);

  function imageScroll(currentImage) {
    if (currentImage < 0) {
    } else if (currentImage > imageSlider.children.length) {
    } else {
      imageSlider.scroll({ left: (imageSlider.children[0].offsetWidth + 16) * currentImage, behavior: "smooth" });
    }
  }
</script>
