---
import KontaktForm from "./KontaktForm.astro";
---

<section>
  <h2>Kontakt os</h2>
  <p>
    På Rosenhøj er vi dedikerede til at give vores gæster en enestående service og en uforglemmelig oplevelse. Vi byder velkommen til dine tilbagemeldinger og ønsker vedrørende indkvartering, mad
    eller begivenheder, du gerne vil afholde på vores bed and breakfast. Kontakt os i dag for at drøfte dine behov og præferencer, og vores team vil arbejde tæt sammen med dig for at sikre, at dit
    ophold på Rosenhøj er alt, hvad du ønsker dig og mere til. Vi glæder os til at høre fra dig!
  </p>
  <KontaktForm />
</section>

<style>
  section {
    display: grid;
    place-items: center;
    gap: 1rem;
    padding-block: 4rem;
  }

  p {
    color: var(--custom_black);
    line-height: 2rem;
    padding-inline: 1rem;
    display: grid;
    place-items: center;
    gap: 1rem;
  }
  @media (min-width: 1150px) {
    section {
      grid-template-columns: repeat(2, 1fr);
    }
    h2,
    p {
      grid-column: 1/2;
      max-width: 65ch;
    }
  }
</style>
