---
const { lineWidth, lineColor } = Astro.props;
---

<div class="line"></div>
<style define:vars={{ lineWidth, lineColor }}>
  .line {
    height: 2px;
    background: var(--dark_blue);
    width: var(--lineWidth);
    margin: auto;
  }
</style>
