---
const { mealType } = Astro.props;
import Line from "./Line.astro"
---

<article>
  <div>
    <h3>{mealType}</h3>
    <Line lineWidth="80%"/>
  </div>
  <slot />
</article>

<style>
  article {
    display: grid;
    justify-items: center;
    gap: 0.5rem;
    padding: 1rem;
  }
  div {
    width: 100%;
    display: grid;
    place-items: center;
    gap: 0.5rem;
  }
  h3 {
    font-weight: 300;
    color: var(--dark_blue);
    font-size: 5vw;
    text-align: center;
  }
  @media(min-width:700px){
    article {
    gap: 2rem;
    padding: 1rem;
  }
  div {
    width: 100%;
    display: grid;
    place-items: center;
    gap: 0.5rem;
  }
  h3 {
    font-size: 3vw;
  }

  .line {

  }
  }
</style>
