---
const { mealType } = Astro.props;
---

<article>
  <h3>{mealType}</h3>
  <div class="line"></div>
  <slot />
</article>

<style>
  h3 {
    font-family: "raleway", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--dark_blue);
    font-size: 3vw;
    text-align: center;
    ma
  }

  .line {
    height: 1.5px;
    background: #354c82;
    width: 100%;
    margin: auto;
  }
</style>
