---
import Meal from "./Meal.astro";
import MenuKortItem from "./MenuKortItem.astro";
import Line from "./Line.astro";
---

<section>
  <div>
    <Meal mealType="MORGENMAD">
      <MenuKortItem dish="INGEFÆR SHOT" description="M/ CITRON, ÆBLE & GULEROD" />
      <MenuKortItem dish="ÆG" description="RØRET, STEGT, POCHERT" />
      <MenuKortItem dish="COCKTAIL PØLSER" description="HONNING GLASERT" />
      <MenuKortItem dish="ØKOLOGISK BACON" description="FRA HØKILDEGÅRD" />
      <MenuKortItem dish="CHAMPIGNON" description="M/ ESTRAGON, RØDLØG, SPINAT" />
      <MenuKortItem dish="BAKED BEANS" description="M/ HVIDLØG" />
      <MenuKortItem dish="HJEMMEBAGT BRØD" description="M/ SMØR" />
    </Meal>

    <Meal mealType="AFTENSMAD">
      <MenuKortItem dish="TANDOORI KYLLING BALTI" description="M/ KORIANDER" />
      <MenuKortItem dish="DAHL CURRY" description="M/ KIKÆRTER, LISER & SQUASH" />
      <MenuKortItem dish="SPINACH ALOO" description="M/ HJEMMELAVET PANEER" />
      <MenuKortItem dish="BASMATI RIS" description="M/ KORIANDER" />
      <MenuKortItem dish="NAAN BRØD" description="/W KORIANDER, SMØR & HVIDLØG " />
    </Meal>
  </div>

  <Line lineWidth="100%" />

  <div>
    <Meal mealType="FROKOST">
      <MenuKortItem dish="FRITTATTA" description="M/ SPINAT, LØG, OST" />
      <MenuKortItem dish="LAKS" description="HJEMERØGET" />
      <MenuKortItem dish="KARTOFFELSALAT" description="M/ CHORIZO, HOKKAIDO, TOMATER" />
      <MenuKortItem dish="PORTABELLO SVAMPE" description="M/ ESTRAGON, RØDLØG, SPINAT" />
      <MenuKortItem dish="HJEMMEBAGT BRØD" description="M/ SMØR" />
    </Meal>

    <img src="../images/rose_illustration.svg" alt="illustration of rose" />

    <Meal mealType="DESSERT">
      <MenuKortItem dish="TE & KAFFE" description="M/ FLØDE OG SUKKER" />
      <MenuKortItem dish="CITRONEPOSET" description="M/ CITRON-SMORDKAGE" />
      <MenuKortItem dish="ROSENHØJ BROWNIE" description="M/ ROSENHØJ CREAM" />
      <MenuKortItem dish="FRISKE BÆRSORBET" description="M/ ØKO BÆR " />
    </Meal>
  </div>
</section>

<style>
  * {
    margin: 8px;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    border-style: double;
    border-width: 5px;
    border-color: var(--dark_blue);
    padding: 1rem;
  }

  div {
    display: grid;
    gap: 1rem;
  }

  /*   text  */

  img {
    width: 50%;
    height: auto;
    margin: auto;
  }
</style>
