---
import Meal from "./Meal.astro";
import MenuKortItem from "./MenuKortItem.astro";
---

<section>
  <div>
    <Meal mealType="BREAKFAST">
      <MenuKortItem dish="GINGER SHOT" description="/W LEMON, APPLE & CARROT" />
      <MenuKortItem dish="EGGS" description="SCRAMBLED, FRIED, POACHED" />
      <MenuKortItem dish="COCKTAIL SAUSAGES" description="HONEY GLAZED" />
      <MenuKortItem dish="ORGANIC BACON" description="FROM HØKILDEGÅRD" />
      <MenuKortItem dish="MUSHROOMS" description="/W TARRAGON, RED ONIONS, SPINACH" />
      <MenuKortItem dish="BAKED BEANS" description="/W GARLIC" />
      <MenuKortItem dish="HOMEBAKED BREAD" description="/W BUTTER" />
    </Meal>

    <Meal mealType="DINNER">
      <MenuKortItem dish="TANDOORI CHICKEN BALTI" description="/W CORIANDER" />
      <MenuKortItem dish="DAHL CURRY" description="W/ CHICKPEAS, LENTILS & SQUASH" />
      <MenuKortItem dish="SPINACH ALOO" description="W/ HOMEMADE PANEER" />
      <MenuKortItem dish="BASMATI RICE" description="W/ CORIANDER" />
      <MenuKortItem dish="NAAN BREAD" description="/W CORIANDER, BUTTER & GARLIC" />
    </Meal>
  </div>

  <div class="line"></div>

  <div>
    <Meal mealType="LUNCH">
      <MenuKortItem dish="FRITTATTA" description="/W SPINACH, ONION CHEESE" />
      <MenuKortItem dish="SALMON" description="HOMESMOKED" />
      <MenuKortItem dish="HOT POTATO SALAD" description="W/ CHORIZO, HOKKAIDO, TOMATOES" />
      <MenuKortItem dish="PORTABELLO MUSHROOMS" description="W/ TARRAGON, RED ONIONS, SPINACH" />
      <MenuKortItem dish="HOMEBAKED BREAD" description="/W BUTTER" />
    </Meal>

    <img src="../images/rose_illustration.svg" alt="illustration of rose" />

    <Meal mealType="DESSERT">
    <MenuKortItem dish="COFFEE & TEA" description="/W CREAM & SUGAR" />
    <MenuKortItem dish="LEMON POSSET" description="W/ LEMON SHORTBREAD" />
    <MenuKortItem dish="ROSENHØJ BROWNIE" description="W/ ROSENHØJ CREAM" />
    <MenuKortItem dish="FRESH BERRY SORBETS" description="W/ ORGANIC BERRIES" />
    </Meal>
  </div>
</section>

<style>
  .reset-this {
    margin: none;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 2px 1fr;

    border-style: double;
    border-width: 5px;
    border-color: var(--dark_blue);
  }
  .line {
    height: 100%;
    width: 100%;
    background-color: var(--dark_blue);
  }
  div {
    display: grid;
    gap: 1rem;
  }

  /*   text  */

  img {
    width: 50%;
    height: auto;
margin: auto;
  }
</style>
