---
---

<div>
  <img src="../images/menu_header.svg" alt="" />
</div>

<style>
  img {
    width: 40vw;
  }

  div {
    display: grid;
    place-items: center;
    padding-top: 30vw;
    padding-bottom: 2rem;
  }

  @media (min-width: 500px) {
    div {
      padding-top: 15vw;
    }

    img {
      width: 15wv;
    }
  }
</style>
