---
const { dish, description } = Astro.props;
---

<article>
  <h4>{dish}</h4>
  <p>{description}</p>
</article>

<style>
  article {
display: grid;
place-items: center;
gap: 0.2rem;
  }

  h4 {
    font-weight: 300;
    color: var(--dark_blue);
    font-size: 3vw;
    text-align: center;
  }

  p {
    font-weight: 100;
    color: var(--dark_blue);
    filter: opacity(80%);
    font-size: 2vw;
    text-align: center;
  }
  @media(min-width:600px){
article{
    gap: 0.5rem;
}
  h4 {
    font-size: 2vw;
  }

  p {
    font-size: clamp(1rem, 1.5rem, 1.5vw);
  }
  }
</style>
