---
---

<div class="border">
  <div class="flex1">
    <h3>BREAKFAST</h3>

    <h4>GINGER SHOT</h4>
    <p>/W LEMON, APPLE & CARROT</p>
    <h4>EGGS</h4>
    <p>SCRAMBLED, FRIED, POACHED</p>
    <h4>COCKTAIL SAUSAGES</h4>
    <p>HONEY GLAZED</p>
    <h4>ORGANIC BACON</h4>
    <p>FROM HØKILDEGÅRD</p>
    <h4>MUSHROOMS</h4>
    <p>/W TARRAGON, RED ONIONS, SPINACH</p>
    <h4>BAKED BEANS</h4>
    <p>/W GARLIC</p>
    <h4>HOMEBAKED BREAD</h4>
    <p>/W BUTTER</p>

    <h3>DINNER</h3>
    <h4>TANDOORI CHICKEN BALTI</h4>
    <p>/W CORIANDER</p>
    <h4>DAHL CURRY</h4>
    <p>W/ CHICKPEAS, LENTILS & SQUASH</p>
    <h4>SPINACH ALOO</h4>
    <p>W/ HOMEMADE PANEER</p>
    <h4>BASMATI RICE</h4>
    <p>W/ CORIANDER</p>
    <h4>NAAN BREAD</h4>
    <p>/W CORIANDER, BUTTER & GARLIC</p>
  </div>

  <div class="flex2">
    <h3>LUNCH</h3>
    <h4>FRITTATTA</h4>
    <p>/W SPINACH, ONION CHEESE</p>
    <h4>SALMON</h4>
    <p>HOMESMOKED</p>
    <h4>HOT POTATO SALAD</h4>
    <p>W/ CHORIZO, HOKKAIDO, TOMATOES</p>
    <h4>PORTABELLO MUSHROOMS</h4>
    <p>W/ TARRAGON, RED ONIONS, SPINACH</p>
    <h4>HOMEBAKED BREAD</h4>
    <p>/W BUTTER</p>

    <img src="" alt="" />
    <h3>DESSERT</h3>
    <h4>COFFEE & TEA</h4>
    <p>/W CREAM & SUGAR</p>
    <h4>LEMON POSSET</h4>
    <p>W/ LEMON SHORTBREAD</p>
    <h4>ROSENHØJ BROWNIE</h4>
    <p>W/ ROSENHØJ CREAM</p>
    <h4>FRESH BERRY SORBETS</h4>
    <p>W/ ORGANIC BERRIES</p>
  </div>
</div>

<style>
  /*   LAYOUT */

  .border {
    display: grid;
    grid-template-columns: 2fr 2fr;
    border-style: double;
    border-width: 5px;
    border-color: var(--dark_blue);
    border-style: double;
    align-items: center;
  }

  h3 {
    font-family: "raleway", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--dark_blue);
  }
  h4 {
    font-family: "raleway", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--dark_blue);
  }
  p {
    font-family: "raleway", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: var(--dark_blue);
  }
</style>
