---
import LogoIcon from "./LogoIcon.astro";
import Burgerknap from "./Burgerknap.astro"

const {iconColor} = Astro.props;
---

<div>
  <LogoIcon Color = {iconColor}/>
  <Burgerknap/>
</div>
<nav>
  <a href="rooms.html">rooms</a>
  <a href="about_us.html">about us</a>
  <a href="events.html">events</a>
  <a href="food.html">menu</a>
  <a href="">guestbook</a>
  <a href="">contact</a>
</nav>
<style>
  div {
    position: absolute;
    display: flex;
    width: 100%;
  }
  nav {
    position: fixed;
    inset: 0px;
    display: grid;
    place-items: center;
    z-index: 100;
    background-color: var(--custom_white);
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
  }
  a {
    color: var(--custom_black);
    text-decoration: none;
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-size: clamp(5vw, 5rem, 6vw);
    text-transform: uppercase;
  }
  .showmenu{
    transform: translateY(0%);
  }
</style>
