---
import SvbIcons from "../components/SvbIcons.astro";
---

<div class="content">
  <article>
    <video autoplay muted loop>
      <source src="../video/om_svb_video.webm" type="video/mp4" />
    </video>
    <h1>SVENDBORG</h1>
  </article>
  <SvbIcons />
</div>

<style>
  article {
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
  }
  video {
    width: 100%;
    min-height: 150px;
    max-height: 400px;
    object-fit: cover;
  }

  div {
    color: #f1f1f1;
    padding-top: 8rem;
    padding-bottom:4rem;
    display: grid;
gap: 1rem;
  }

  h1 {
    font-size: 12vw;
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    backdrop-filter: brightness(80%);
  }
  @media(min-width:800px){
    div{
      gap: 1rem;
      padding-bottom:6rem;
    }
  }
</style>
