---
---

<h1><slot /></h1>

<style>
  h1 {
    color: var(--dark_blue);
    text-transform: uppercase;
    font-size: clamp(1.5rem, 8vw, 2.5rem);
    text-align: center;
    padding-inline: 1rem;
    display: grid;
    padding-top: 100px;
    padding-bottom: 50px;
    gap: 0.5rem;
  }
  h1::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--dark_blue);
  }
</style>
