---
---

<article>
  <span class="stars">★★★★★</span>
  <p>
    A fantastically nice accommodation in a calm and relaxing environment. Very nice owners with excellent service. Homemade delicious breakfast (more like a brunch). The suite was very tastefully
    decorated with a homely feel! An added plus was that there was a fridge. An excellent location close to the city centre, restaurants and harbour. We warmly recommend Rosenhøj bnb and would love to
    come back soon!
  </p>
</article>

<style>
  article {
    display: grid;
    place-items: center;
    gap: 0.5rem;
  }
  p {
    color: var(--custom_black);
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.4rem;
    padding-inline: 1rem;
  }
  span {
    color: var(--dark_blue);
    filter: opacity(70%);
    font-size: 2rem;
  }
</style>
