---
const {Text, Navn, Stars, reviewType} = Astro.props;

---

<article class={reviewType}>
  <span class="stars">{Stars}</span>
  <p>
   {Text}
  </p>
  <h3>{Navn}</h3>
</article>

<style>
  article {
    display: grid;
    place-items: center;
    gap: 0.5rem;

  }
  p {
    color: var(--custom_black);
    font-size: 0.9rem;
    line-height: 1.4rem;
    padding-inline: 1rem;
    max-width: 85ch;
  }
  span {
    color: var(--dark_blue);
    filter: opacity(70%);
    font-size: 2rem;
  }
  h3{
    color: var(--custom_black);
    font-size: 1.3rem;
  }
  h3::before{
    content: "- ";
  }
  .fade_left{
transform: translateX(-150%);
filter: opacity(0%);
  }
  .fade_right{
    transform: translateX(150%);
filter: opacity(0%);
  }
</style>
<script>
  const starSpan = document.querySelectorAll(".stars");
 starSpan.forEach(review => review.textContent = "★".repeat(parseInt(review.innerHTML)));
</script>