---
import Line from "./Line.astro";
import SoMeIcon from "./SoMeIcons.astro";
---

<section>
  <h2>Rosenhøj Events</h2>

  <article>
    <h3>Supperclubs</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur possimus, doloribus dignissimos libero explicabo officia labore. Asperiores consequatur repudiandae commodi cumque cupiditate
      ea, saepe harum qui sint, voluptatum delectus magni adipisci magnam reiciendis! Veritatis illo cum delectus neque ea deserunt, similique ratione doloremque placeat laudantium?
    </p>
    <div class="gallery">
      <img src="../images/SC1.png" alt="Supperclub" />
      <img src="../images/SC2.png" alt="Supperclub" />
      <img src="../images/SC3.png" alt="Supperclub" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur possimus, doloribus dignissimos libero explicabo officia labore. Asperiores consequatur repudiandae commodi cumque cupiditate
      ea, saepe harum qui sint, voluptatum delectus magni adipisci magnam reiciendis! Veritatis illo cum delectus neque ea deserunt, similique ratione doloremque placeat laudantium?
    </p>

    <div class="so_me">
      <h3>KEEP UP TO DATE</h3>
      <SoMeIcon />
    </div>
  </article>

  <!-- Mellemrum -->

  <article>
    <h3>Rosenhøj Julemarked</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur possimus, doloribus dignissimos libero explicabo officia labore. Asperiores consequatur repudiandae commodi cumque cupiditate
      ea, saepe harum qui sint, voluptatum delectus magni adipisci magnam reiciendis! Veritatis illo cum delectus neque ea deserunt, similique ratione doloremque placeat laudantium?
    </p>
    <div class="gallery">
      <img src="../images/RJ1.png" alt="Julemarked" />
      <img src="../images/RJ2.png" alt="Julemarked" />
      <img src="../images/RJ3.png" alt="Julemarked" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur possimus, doloribus dignissimos libero explicabo officia labore. Asperiores consequatur repudiandae commodi cumque cupiditate
      ea, saepe harum qui sint, voluptatum delectus magni adipisci magnam reiciendis! Veritatis illo cum delectus neque ea deserunt, similique ratione doloremque placeat laudantium?
    </p>

    <div class="so_me">
      <h3>KEEP UP TO DATE</h3>
      <SoMeIcon />
    </div>
  </article>
</section>

<style>
  section {
    display: grid;
    place-items: center;
    gap: 1rem;
    padding-inline: 1rem;
    margin-top: 2rem;
  }
  article {
    display: grid;
    place-items: center;
    outline: 2px solid var(--custom_black);
    padding: 1rem;
    gap: 1rem;
  }
  img {
    max-width: 100%;
  }
  h2,
  h3 {
    font-size: clamp(1.5rem, 8vw, 2.5rem);
    color: var(--dark_blue);
    place-items: center;
  }
  h2::after {
    display: none;
  }
  h3::after {
    content: "";
    width: 80%;
    height: 2px;
    background-color: var(--custom_black);
  }
  h3 {
    font-size: clamp(1.2rem, 6vw, 2rem);
    display: grid;
    gap: 0.5rem;
  }
  h3::after {
    background-color: var(--dark_blue);
  }
  .so_me {
    display: grid;
    place-items: center;
    gap: 0.5rem;
  }
  .gallery {
    display: grid;
    gap: 1rem;
  }
  @media (min-width: 800px) {
    section {
    gap: 2rem;
  }
  article{
  gap: 2rem;
  max-width: 1200px;
  }
  .gallery {
grid-template-columns: repeat(3, 1fr);
max-width: calc(100% - 4rem);
  }
  .so_me {
    gap: 1rem;
  }
  }
</style>
