---
import Line from "../components/Line.astro";
import SoMeIcon from "./SoMeIcons.astro";
---

<section>
  <Line lineWidth="90%" lineColor="var(--custom_black)"/>
  <h2>Rosenhøjs begivenheder</h2>

  <article>
    <h3>SUPPERCLUBS</h3>
    <p>
      Kom til vores næste supperclub, et unikt spisekoncept, der kombinerer restaurant, socialt samvær og underholdning. Vores supperclub er stedet at være for madelskere, der ønsker noget
      ekstraordinært.
    </p>
    <div class="gallery">
      <img src="../images/SC1.webp" alt="Supperclub" />
      <img src="../images/SC2.webp" alt="Supperclub" />
      <img src="../images/SC3.webp" alt="Supperclub" />
    </div>
    <p>
      I vores supperclub tror vi på, at god mad nydes bedst i selskab med andre. Det er et sted, hvor fremmede bliver til venner, hvor historier deles, og hvor latter fylder stuerne. Bordet bliver en
      scene for livlige samtaler, hvor gæster fra alle samfundslag deltager i dejlige udvekslinger og skaber nye forbindelser.
    </p>

    <div class="so_me">
      <h3>HOLD DIG OPDATERET</h3>
      <SoMeIcon />
    </div>
  </article>

  <!-- Mellemrum -->

  <article>
    <h3>ROSENHØJ JULEMARKED</h3>
    <p>
      Hvert år fejrer vi julen med vores deluxe julemarked. Vi tilbyder juletræer, kranse og dekorationer, vintagegenstande, keramik, fantasifulde juleudsmykninger, antikviteter og lækre delikatesser til ganen!
    </p>
    <div class="gallery">
      <img src="../images/RJ1.webp" alt="Julemarked" />
      <img src="../images/RJ2.webp" alt="Julemarked" />
      <img src="../images/RJ3.webp" alt="Julemarked" />
    </div>
    <p>
      Oplev magien ved højsæsonen på vores julemarked i Svendborg! Forkæl dig selv med festlige lækkerier, shop efter unikke gaver og nedsænk dig i den hyggelige atmosfære på vores charmerende bed and breakfast. Deltag i en fantastisk juleoplevelse fyldt med glæde, latter og fortryllelse.
    </p>

    <div class="so_me">
      <h3>HOLD DIG OPDATERET</h3>
      <SoMeIcon />
    </div>
  </article>
</section>

<style>
  section {
    display: grid;
    place-items: center;
    gap: 1rem;
    padding-inline: 1rem;
    margin-top: 2rem;
  }
  article {
    display: grid;
    place-items: center;
    outline: 2px solid var(--dark_blue);
    padding: 2rem;
    gap: 1rem;
  }
  img {
    max-width: 100%;
  }
  h2,
  h3 {
    font-size: clamp(1.5rem, 8vw, 2.5rem);
    color: var(--dark_blue);
    place-items: center;
    margin-block: 1rem;
  }
  h2::after {
    display: none;
  }
  h3::after {
    content: "";
    width: 80%;
    height: 2px;
    background-color: var(--custom_black);
  }
  h3 {
    font-size: clamp(1.2rem, 6vw, 2rem);
    display: grid;
    gap: 0.5rem;
    margin-block: 2rem;
  }
  h3::after {
    background-color: var(--dark_blue);
  }

  .so_me {
    display: grid;
    place-items: center;
    gap: 0.5rem;
  }
  .gallery {
    display: grid;
    gap: 1rem;
    margin-block: 1rem;
  }
  @media (min-width: 800px) {
    p {
      font-size: 1.5vw;
      max-width: clamp(25ch, calc(100% - 2rem), 80ch);
    }

    h2,
    h3 {
      margin-block: 3rem;
    }
    section {
      gap: 2rem;
    }
    article {
      gap: 2rem;
      max-width: 1200px;
    }
    .gallery {
      grid-template-columns: repeat(3, 1fr);
      max-width: calc(100% - 4rem);
    }
    .so_me {
      gap: 1rem;
    }
  }
</style>
