---
import Line from "../components/Line.astro";
---


<div class="island">
  <h2>ISLAND HOP</h2>
  <p>
    Go island hopping in the South Funen Archipelago and visit Drejø, Skarø, Hjortø, Lyø, Avernakø, Bjørnø, Strynø and Ærø - We sail all year round.' 'There are plenty of opportunities to experience the South Funen Archipelago - also for those who do
    not have their own sailing ship. Here we give an overview of ferry routes and trips with the veteran ferry Helge and the beautiful, old wooden ships, Øhop and the beaches around Svendborg. '
  </p>

  <div class="imgcont">
    <img src="../images/ø_kort.webp" alt="island map" />
    <div class="ferry_link"><a href="https://www.visitsvendborg.dk/svendborg/faergeruter-fra-svendborg-havn">SEE FERRY ROUTES</a></div>
  </div>
</div>


<div class="festivals">
  <h2>FESTIVALS</h2>
  <p>
    Svendborg, a coastal town in Denmark, hosts a vibrant array of festivals celebrating music, culture, sport, and food. The Sound Festival enchants music enthusiasts with diverse genres and captivating performances. Svendborg Arts Week immerses the
    town in creativity, showcasing artwork and performances that inspire dialogue. The Sports Festival offers thrilling competitions, fostering camaraderie among athletes and spectators. <p />
    <img src="../images/festival.jpg" alt="" />
    <p>The Food and Wine Festival indulges taste buds with a delectable array of flavors and aromas. Svendborg's festivals merge music, culture, sport, and food to create an unforgettable experience. From melodic concerts to artistic showcases,
    athletic competitions to culinary delights, the town's festivals have something for everyone. Immerse yourself in Svendborg's vibrant celebrations and discover the magic they offer.
  </p>

  
  <div class="line"></div>

<h3>Read more about festivals in Svendborg and dates here</h3>

<div class="link">
  <a href="https://www.visitsvendborg.dk/svendborg/festivaler-i-svendborg">READ MORE</a>
</div>
</div>


<div class="activities">
  <h2>ACTIVITIES</h2>
  <p>
    If you are looking for an active holiday, Svendborg is the perfect starting point. Svendborg's breathtaking coastline invites adventure seekers to explore its waters through kayaking, paddleboarding, and sailing, offering a thrilling blend of
    sport and natural beauty. </p>
    <img src="../images/active.jpg" alt="" />
    <p>Hiking and biking trails weave through Svendborg's lush forests and picturesque landscapes, providing opportunities for outdoor enthusiasts to immerse themselves in nature.Svendborg's favorable wind conditions make it a haven for wind and
    kite surfers, who can take advantage of the open waters and exhilarating waves.
    </p>
  
</div>


<div class="nature">
  <h2>NATURE</h2>
  <p>
    With its diverse natural offerings, Svendborg captivates visitors with its coastal beauty, verdant forests, picturesque islands, and serene parks, making it an ideal destination for those seeking a connection with nature. Nestled on the coast,
    Svendborg offers breathtaking views of the sea, with tranquil beaches perfect for sunbathing, picnicking, and leisurely walks along the shoreline. <br />
    <br />The town is surrounded by lush forests and rolling hills, providing numerous hiking and biking trails that showcase the area's natural beauty, allowing visitors to explore at their own pace.
  </p>
  <div class="nature_pics">
  <img src="../images/island.jpg" alt="image of Svendborg islands" />
  <img src="../images/nature.jpg" alt="" />
</div>

  <p>
    Fishing enthusiasts can cast their lines into Svendborg's coastal waters, angling for a variety of fish species while enjoying the serenity of the surroundings.Yoga and meditation enthusiasts can partake in outdoor sessions, breathing in the
    fresh coastal air and finding tranquility amidst Svendborg's natural landscapes.
  </br></br>Svendborg's fusion of nature and sport provides a wealth of active activities, ensuring that visitors can immerse themselves in the great outdoors while engaging in thrilling sports and recreational pursuits.</p>
</div>


<div class="music">
  <h2>ART & MUSIC</h2>
  <p>
    Svendborg offers a rich tapestry of cultural, artistic, and musical experiences that captivate visitors from near and far. Svendborg's historic landmarks, such as the iconic Svendborg Theatre, provide a backdrop for captivating theatrical
    performances, including plays, musicals, and ballet, enriching the cultural fabric of the town.
  </p>
  <img src="../images/music.jpg" alt="" />
  <p>
    The town's charming streets often come alive with buskers and street performers, adding a touch of spontaneous artistry and creating an immersive and interactive cultural experience for passersby. Harders Music, located in Svendborg, Denmark, is
    a renowned hub for music enthusiasts, offering a wide range of instruments, equipment, and expert advice, catering to both beginners and seasoned musicians. <br />
    <br />With its exceptional selection and knowledgeable staff, Harders Music is the go-to destination for all things music in Svendborg.
  </p>
</div>

<style>

.line {
    height: 1px;
    background: white;
    width: 80%;
    
  }

h2 {
    place-items: center;
    width: 60%;
    margin: auto;
    margin-top: 4rem;
   
  }



  h3 {
    margin-inline: 2em;
    margin-block: 2em;
    font-family: "raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
  }



  p {
    margin-inline: 2em;
    margin-block: 2em;
    font-family: "raleway", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 150%;
    max-width: 65ch;
  }
  img {
    object-fit: cover;
    width: 100%;
    max-width: 700px;
    max-height: 400px;
  }

  .festivals > img{
    border-top: 1rem solid white;
    border-bottom: 1rem solid white;
  }

  .nature_pics{
    background-color: white;
    display: grid;
    gap: 1rem;
    padding-block: 1rem;
  }

  a {
    border-style: double;
    border-width: 5px;
    color: white;
    border-color: white;
    border-style: double;
    text-decoration: none;
    font-family: "raleway", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1rem, 3vw, 2rem);
    padding: 0.5em;
  }

  .imgcont {
    padding-block: 2em;
    position: relative;
  }
  .ferry_link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ferry_link > a {
  font-size: unset;
    background-color: #354c8299;
    backdrop-filter blur(1px);

  }

  div {
    display: grid;
    place-items: center;
  }

  .festivals,
  .nature {
    background-color: var(--light_blue);
    color: white;
    padding-bottom: 2rem;
  }
  .festivals > h2, .nature > h2{
    color: white;
  }
  
  .festivals > h2::after, .nature > h2::after{
    background-color: white;
    
  }


  . @media (min-width: 1000px) {
    .island {
      grid-template-columns: 3fr 2fr;
      gap: 1rem;
      padding: 3rem;
    }

    h2{ grid-column: span 2;}
  }
</style>
