---
import Line from "../components/Line.astro";
---

<section id="islandHop">
  <h2>Ø-HOP</h2>
  <p>
    Tag på ø-hop i Det Sydfynske Øhav og besøg Drejø, Skarø, Hjortø, Lyø, Avernakø, Bjørnø, Strynø og Ærø - Vi sejler hele året rundt.' 'Der er rig mulighed for at opleve Det Sydfynske Øhav - også for
    dem, der ikke har eget sejlskib. Her giver vi et overblik over færgeruter og ture med veteranfærgen Helge og de smukke, gamle træskibe, Øhop og strandene omkring Svendborg.
  </p>
  <div>
    <img src="../images/ø_kort.webp" alt="island map" />
    <a href="https://www.visitsvendborg.dk/svendborg/faergeruter-fra-svendborg-havn">SE FÆRGERUTER</a>
  </div>
</section>
<Line lineWidth="90%" lineColor="var(--custom_black)" />
<section id="festivals">
  <h2>FESTIVALER</h2>
  <p>
    Svendborg, en smuk kystby i Danmark, er vært for et pulserende udvalg af festivaler, der hylder musik, kultur, sport og mad. Lydfestivalen fortryller musikentusiaster med forskellige genrer og
    fængslende optrædener. Svendborg Arts Week fordyber byen i kreativitet og viser kunstværker og performances, der inspirerer til dialog. Sportsfestivalen byder på spændende konkurrencer, der
    fremmer kammeratskab blandt atleter og tilskuere.
  </p>
  <img src="../images/festival.webp" alt="" />
  <p>
    Mad- og Vin Festivalen forkæler smagsløgene med et lækkert udvalg af smagsvarianter og aromaer. Svendborgs festivaler kombinerer musik, kultur, sport og mad for at skabe en uforglemmelig
    oplevelse. Fra melodiske koncerter til kunstneriske udstillinger, atletiske konkurrencer til kulinariske lækkerier, byens festivaler har noget for enhver smag. Nedsænk dig selv i Svendborgs
    levende fejringer og opdag den magi, de tilbyder.
  </p>
  <h3>Læs mere om festivaler i Svendborg og datoer her</h3>
  <a href="https://www.visitsvendborg.dk/svendborg/festivaler-i-svendborg">LÆS MERE</a>
</section>
<Line lineWidth="90%" lineColor="var(--custom_black)" />
<section id="activities">
  <h2>AKTIVITETER</h2>
  <p>
    Leder du efter en aktiv ferie, er Svendborg det perfekte udgangspunkt. Svendborgs betagende kystlinje inviterer eventyrsøgere til at udforske dets farvande gennem kajaksejlads, paddleboarding og
    sejlads, og tilbyder en spændende blanding af sport og naturlig skønhed.
  </p>
  <img src="../images/active.webp" alt="" />
  <p>
    Vandre og cykelstier væver sig gennem Svendborgs frodige skove og maleriske landskaber og giver friluftsentusiaster mulighed for at fordybe sig i naturen. Svendborgs gunstige vindforhold gør det
    til et fristed for vind- og kitesurfere, som kan drage fordel af det åbne vand og de spændende bølger.
  </p>
</section>
<Line lineWidth="90%" lineColor="var(--custom_black)" />
<section id="nature">
  <h2>NATUR</h2>
  <p>
    Med sit mangfoldige naturtilbud fascinerer Svendborg besøgende med sin kystnære skønhed, grønne skove, maleriske øer og fredfyldte parker, hvilket gør det til et ideelt rejsemål for dem, der søger
    en forbindelse med naturen. Beliggende ved kysten byder Svendborg på en betagende udsigt over havet med rolige strande perfekte til solbadning, picnic og afslappede gåture langs kysten.
  </p>
  <p>Byen er omgivet af frodige skove og bølgende bakker, der giver adskillige vandre- og cykelstier, der viser områdets naturlige skønhed, så besøgende kan udforske i deres eget tempo.</p>
  <div>
    <img src="../images/island.webp" alt="image of Svendborg islands" />
    <img src="../images/nature.webp" alt="" />
  </div>

  <p>
    Fiskeentusiaster kan kaste deres liner ud i Svendborgs kystnære farvande, lystfiske efter en række forskellige fiskearter, mens de nyder roen i omgivelserne. Yoga- og meditationsentusiaster kan
    deltage i udendørs sessioner, indånde den friske kystluft og finde ro midt i Svendborgs naturlige landskaber
  </p>
  <p>Svendborgs fusion af natur og sport giver et væld af aktive aktiviteter, der sikrer, at besøgende kan fordybe sig i det fri, mens de dyrker spændende sport og rekreative aktiviteter.</p>
</section>
<Line lineWidth="90%" lineColor="var(--custom_black)" />
<section id="music">
  <h2>KUNST & MUSIK</h2>
  <p>
    Svendborg byder på et rigt billedtæppe af kulturelle, kunstneriske og musikalske oplevelser, der fascinerer besøgende fra nær og fjern. Svendborgs historiske vartegn, såsom det ikoniske Svendborg
    Teater, danner baggrund for fængslende teaterforestillinger, herunder skuespil, musicals og ballet, der beriger byens kulturelle struktur.
  </p>
  <img src="../images/music.webp" alt="" />
  <p>
    Byens charmerende gader bliver ofte levende med buskere og gadekunstnere, hvilket tilføjer et strejf af spontant kunstnerisk og skaber en fordybende og interaktiv kulturel oplevelse for
    forbipasserende. Harders Music, der ligger i Svendborg, Danmark, er et kendt knudepunkt for musikentusiaster, der tilbyder en bred vifte af instrumenter, udstyr og ekspertrådgivning, der henvender
    sig til både begyndere og erfarne musikere. <br />
    <br />
    Med sit enestående udvalg og dygtige personale er Harders Music go-to-destinationen for alt musik i Svendborg.
  </p>
</section>

<style>
  section {
    display: grid;
    place-items: center;
    gap: 1rem;
    padding-block: 2rem;
  }
  /* HEADINGS  */
  h2 {
    font-size: clamp(1rem, 7vw, 2rem);
    padding-block: 1rem;
  }
  h3 {
    text-align: center;
    display: grid;
    place-items: center;
    gap: 1rem;
  }
  /*  BODY TEXT */
  p {
    font-weight: 300;
    line-height: 2rem;
    padding-inline: 1rem;
  }
  /* IMAGES */
  img {
    object-fit: cover;
    width: 100%;
    max-height: 400px;
  }
  /* LINKS */
  a {
    outline: 5px double var(--custom_black);
    color: var(--custom_black);
    text-decoration: none;
    font-weight: 300;
    font-size: clamp(1rem, 3vw, 2rem);
    padding: 0.5em;
  }
  section:first-of-type div {
    position: relative;
  }
  section:first-of-type div > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #354c8299;
    backdrop-filter: blur(1px);
    width: max-content;
    color: var(--custom_white);
    outline: 5px double var(--custom_white);
  }
  /* GENERAL LAYOUT */
  div {
    display: grid;
    place-items: center;
    gap: 1rem;
  }
  section:nth-of-type(4) img {
    object-position: bottom;
  }
  section:nth-of-type(4) div {
    width: 100%;
  }

  @media (min-width: 800px) {
    section {
      grid-template-columns: repeat(2, 1fr);
      padding-block: 3rem;
      padding-inline: 2rem;
      max-width: 1400px;
      margin: auto;
    }
    img {
      grid-row: span 2;
      max-width: 75ch;
      min-width: 80%;
    }
    h2 {
      grid-column: span 2;
    }
    /* festivals section */
    section:nth-of-type(2) a,
    section:nth-of-type(2) h3 {
      grid-column: span 2;
      padding-block: 1rem;
    }
    section:nth-of-type(2) img {
      grid-row: 2/4;
      grid-column: 1/2;
      object-position: 0 -200px;
    }
    section:nth-of-type(2) p {
      grid-column: 2/3;
    }
    /* festivals section */
    section:nth-of-type(4) div {
      grid-row: 2/6;
      grid-column: 1/2;
      max-width: 75ch;
      max-height: 100%;
    }
    section:nth-of-type(4) img {
      max-height: 300px;
    }
  }
  @media (min-width: 1200px) {
  }
</style>
