---
---

<div class="icons">
  <div class="island_icon"><img src="../icons/active_icon.svg" alt="" /></div>
  <div class="festival_icon"><img src="../icons/festival_icon.svg" alt="" /></div>
  <div class="active_icon"><img src="../icons/active_icon.svg" alt="" /></div>
  <div class="nature_icon"><img src="../icons/nature_icon.svg" alt="" /></div>
  <div class="music_icon"><img src="../icons/music_icon.svg" alt="" /></div>
</div>

<style>
  .icons {
    display: flex;
    max-width: 100vw;
    background-color: var(--dark_blue);
    padding: 1rem;
    justify-content: space-around;
    
  }
  div{
    max-width: 100%;
  }
  img{
    object-fit: contain;
    width: 12vw;
    max-width: 70px;
  }
</style>
