---
---

<div class="icons">
  <div class="island_icon"><img src="../icons/active_icon.svg" alt="" /></div>
  <div class="festival_icon"><img src="../icons/festival_icon.svg" alt="" /></div>
  <div class="active_icon"><img src="../icons/active_icon.svg" alt="" /></div>
  <div class="nature_icon"><img src="../icons/nature_icon.svg" alt="" /></div>
  <div class="music_icon"><img src="../icons/music_icon.svg" alt="" /></div>
</div>

<style>
  .icons {
    display: flex;
  }
</style>
