---
---

<section>
  <a href="#islandHop">
    <div>
      <img src="../icons/island_icon.svg" alt="" />
      <p>ISLAND HOP</p>
    </div>
  </a>
  <a href="#festivals">
    <div>
      <img src="../icons/festival_icon.svg" alt="" />
      <p>FESTIVALS</p>
    </div>
  </a>
  <a href="#activities">
    <div>
      <img src="../icons/active_icon.svg" alt="" />
      <p>ACTIVITIES</p>
    </div>
  </a>
  <a href="#nature">
    <div>
      <img src="../icons/nature_icon.svg" alt="" />
      <p>NATURE</p>
    </div>
  </a>
  <a href="#music">
    <div>
      <img src="../icons/music_icon.svg" alt="" />
      <p>ART & MUSIC</p>
    </div>
  </a>
</section>
<style>
  section {
    display: grid;
    place-items: center;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 2rem;
  }
  a{
    grid-column: span 2;
    display: grid;
    place-items: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  a:nth-of-type(4) {
    grid-column: 2/4;
  }
  div {
    max-width: 100%;
    display: grid;
    place-items: center;
  }
  img {
    object-fit: contain;
    width: calc(100% - 2rem);
    max-width: 150px;
  }
  p {
    color: var(--custom_black);
    font-size: clamp(0.7rem, 4vw, 1.2rem);
  }
  a:hover {
transform: scale(1.1) rotateZ(5deg);
  }
  @media(min-width: 800px){
    section {
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
  }
  a,  a:nth-of-type(4) {
    grid-column: span 1;
  }
  }
</style>
